body {
    --color-background: #5943bd;
    --color-container:#AFC1D6;
    --color-mainword:#000000;
    --color-error:#cc3333;
    --color-seccess:#4bb544;
    --color-shadow: rgba(0, 0, 0, 0.5);
    --color-input-border: #6d6d6d;
    --color-inputbox: #c8d9e4;
    --color-inputbox-focus: #ffffff;
    --color-button-text: #ffffff;
    --color-button: #a78ae6;
    --color-link: #000000;
    --border-radius: 10px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    font-size: 18px;
    background-color: var(--color-background);
}

.container{
    width: 480px;
    max-width: 480px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px var(--color-shadow);
    border-radius: var(--border-radius);
    background: var(--color-container);
    font-family: "Trebuchet MS", sans-serif;
    font-weight: 500;
    color: var(--color-mainword);
}

.form-hidden{
    display: none;
}

.form > *:first-child{
    margin-top: 0;
}

.form >*:last-child{
    margin-bottom: 0;
}

.form_title{
    margin-bottom: 2rem;
    text-align: center;
}

.form_message{
    text-align: center;
    margin-bottom: 1rem;
}

.form_message--success{
    color: var(--color-seccess);
}

.form_message--error{
    color: var(--color-error);
}

.form_input-group{
    margin-bottom: 1rem;
}

.form_label{
    display: block;
    margin-bottom: 0.4rem;
    font-size:1.25rem
}

.form_input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 2px solid var(--color-input-border);
    outline: none;
    background: var(--color-inputbox);
    transition: background 0.5s, border-color 0.5s;
}

.form_input:focus{
    border-color: var(--color-background);
    background: var(--color-inputbox-focus);
}

.form_input-error{
    color: var(--color-error);
    border-color: var(--color-error);
}

.form_input-error-message{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form_button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--color-button-text);
    border: none;
    border-radius: var(--border-radius);
    outline: 0;
    cursor: pointer;
    background: var(--color-button)
}

.form_button:hover{
    background: var(--color-mainword);
}

.form_button:active{
    transform: scale(0.95);
}

.form_text{
    text-align: center;
}

.form_link{
    color: var(--color-link);
    text-decoration: none;
    cursor: pointer;
}

.form_link:hover{
    text-decoration: underline;
}